@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #292525e2;
  font-family: 'Montserrat', sans-serif;
  color: beige;
}
.container{
  height: 100vh;
}
.weather-container {
  background-color: rgba(86, 91, 216, 0.074);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

.weather-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.temperature {
  font-size: 30px;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.weather-description {
  font-size: 20px;
}

.temperature-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 1rem;
}

.temperature-details p {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

.temperature-details span {
  font-weight: 500;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather-info-item {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .weather-container {
    margin-bottom: 0; /* Adjust the margin-top for smaller screens */
   padding: 0; /* Adjust the padding for smaller screens */
    overflow: hidden; /* Enable scrolling when content exceeds the container's size */
  }
}