@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #292525e2;
  font-family: 'Montserrat', sans-serif;
  color: beige;
}
.box-con{
  box-shadow: 4px 4px 5px rgb(22, 41, 72);
}
.box-bottom{
  box-shadow: 4px 4px 5px rgb(22, 41, 72);
}

.flex{
  display: flex;
  align-items: center;
}
.justify{
  justify-content: center;
  gap: 10px;
}
.row{
  flex-direction: row;
}
.col{
  flex-direction: column;
}
.back{
  background-color: rgb(94, 22, 194);
}

.gap{
  gap: 50px;
}





